@import "tailwindcss";
@source "../src/components/**/*.{ts,tsx}";
@source "../src/app/**/*.{ts,tsx}";

@layer base {
  * {
    box-sizing: border-box;
  }
  body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: cyan;
}
}

@theme {
  --text-tiny: 0.7rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: #e0f2fe !important; /* match your text color */
  transition: background-color 5000s ease-in-out 0s;
}